.footer {
	&__container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	&__menu {
		display: flex;
		justify-content: space-evenly;
		flex-basis: 50%;
		flex-wrap: wrap;
	}
}
