@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i&display=swap');
@import './reset.scss';

.app {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

.isdraweropen {
	overflow: hidden;
}

.icon {
	font-size: 32px;
	padding: 20px;
	cursor: pointer;
}

.button {
	border: 2px solid;
	color: white;
	padding: 10px 20px;
	font-size: 20px;
}

.heading {
	position: relative;
	font-size: 36px;
	margin: 40px 0;
	padding-bottom: 5px;

	&::before {
		content: '';
		height: 2px;
		width: 25px;
		background: white;
		position: absolute;
		bottom: 0;
	}
}

.grid {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	margin: 45px 0;

	&__item {
		margin-bottom: 30px;
		flex-basis: 48%;

		&--small {
			margin-bottom: 30px;
			flex-basis: 24%;

			@media only screen and (max-width: 480px) {
				flex-basis: 100%;
			}

			@media only screen and (min-width: 481px) and (max-width: 960px) {
				flex-basis: 48%;
			}

			@media only screen and (min-width: 961) and (max-width: 1024px) {
				flex-basis: 24%;
			}
		}

		@media only screen and (max-width: 960px) {
			flex-basis: 100%;
		}
	}
}
